# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы логов
*.log

# Игнорировать .env файлы, содержащие конфиденциальные данные
.env

# Игнорировать файлы, созданные вашей IDE или текстовым редактором
.vscode/
.idea/
*.swp

# Игнорировать файлы операционной системы
.DS_Store
Thumbs.db